
<router-outlet></router-outlet>

<div class="test-runner-container">
 
  <mat-card class="cardd" >
    <mat-card-content>
    <h3 class="headd">TestOps Platform</h3>
  
    <div>
      <label class="input1">Base url</label>
      <input type="text" list="urlOptions" [(ngModel)]="url" required>
      <datalist id="urlOptions">
        <option value="https://example.cypress.io/todo"></option>
      </datalist>
    </div>
  
    <div>
      <label class="input2">Spec</label>
      <input type="text" list="specOptions" [(ngModel)]="spec"required>
      <datalist id="specOptions">
        <option value="cypress/e2e/1-getting-started/"></option>
      </datalist>
    </div>
  
    <div>
      <label class="input3">env_variable1</label>
      <input type="text" list="env1Options" [(ngModel)]="env_variable1" required>
      <datalist id="env1Options">
        <option value="grepTags=@fvt"></option>
        <option value="XC1_NEW_ORG_EMAIL=stability@test.com"></option>
      </datalist>
    </div>
  
    <div>
      <label class="input4">env_variable2</label>
      <input type="text" list="env2Options" [(ngModel)]="env_variable2" required>
      <datalist id="env2Options">
        <option value="grepTags=@fvt"></option>
        <option value="XC1_NEW_ORG_EMAIL=stability@test.com"></option>
      </datalist>
    </div>
    <ngx-spinner 
      bdColor = "rgba(0, 0, 0, 0.8)" 
      size = "medium" 
      color = "#fff" 
      type = "ball-spin">
<p style="font-size:20px; color: white" > Loading... </p>
</ngx-spinner>
  
    <button class="buttons"(click)="executeTests()"[disabled]="!url || !spec || !env_variable1 || !env_variable2">Execute Tests</button>
   
  </mat-card-content>
</mat-card>
</div>
<div class="result-summary-container">
<ngx-spinner *ngIf="isLoading"...></ngx-spinner>

<div id="resultSummaryId" *ngIf="!isLoading && resultsReady" class="results-summary"></div>
<div *ngIf="testExecuted">
  <h3 >Results summary </h3>
</div>

</div>






<div class="chart-container">
  <div class="charts">

    <div class="pie" [chart]="pieChart"></div>
    <div class="bar"[chart]="barChart"></div>
  </div>
</div>
  
  

  



  
