
<router-outlet></router-outlet>
<mat-toolbar class="mat-elevation-z8">
  <h2 class="cc">Lenovo</h2>
  <div class="right-align">
    <button mat-button [matMenuTriggerFor]="profileMenu">
      <mat-icon class="proicon">account_circle</mat-icon>
    </button>
    <mat-menu #profileMenu="matMenu">
    <p-button mat-button label="Sign out" class="but" (onClick)="logOut()"></p-button> </mat-menu></div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav="matSidenav" mode="side" opened="true"  class="sidenav">
    <mat-divider></mat-divider>
   
    <a mat-button mat-button class="menu-button" routerLink="/tech-orchestrator">
      <mat-icon class="to">slideshow</mat-icon>
      <span class="teO">Test Orchestrator</span>
    </a>
    <a mat-button mat-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation" class="menu-button" >
      <div class="button-content"><mat-icon class="mst">file_copy</mat-icon>
      <span  class="ms">Contract Testing 
      </span></div>
    </a>
    <mat-menu #menu="matMenu" class="sub" >
      <button mat-menu-item routerLink="/micro-servi-interactions" class="mat-menu-item">Micro-Service-Interactions</button>
      <button mat-menu-item routerLink="/pacts" class="mat-menu-item" >Pacts</button>
    </mat-menu>
    <mat-divider></mat-divider>
  </mat-sidenav>
  <mat-sidenav-content style="overflow-y: auto;">
    <div class="content">
      <router-outlet>

  <div class="chan">
    <span class="chan">Collections</span>
  </div>
 
  
  <div class="table-container">
    <mat-form-field class="search-form-field" appearance="standard">
      <mat-label class="search-label">Search for anything    </mat-label>
      <input matInput (keyup)="applyFilter($event)">
    
    <button mat-icon-button matSuffix
    (click)="refreshTable()">
      <mat-icon>refresh</mat-icon>
    </button>
    <button style="margin-left: 60%;"(click)="Openpopup()" color="primary">+</button>
    
    
    
    
    
    
    
   
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <div *ngIf="resultsReady">
    </div>
    </mat-form-field>
 
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- url Column -->
    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef> url </th>
      <td mat-cell *matCellDef="let element"> {{element.url}} </td>
    </ng-container>

    <!-- spec Column -->
    <ng-container matColumnDef="spec">
      <th mat-header-cell *matHeaderCellDef> spec </th>
      <td mat-cell *matCellDef="let element"> {{element.spec}} </td>
    </ng-container>

     <!-- env Column -->
     <ng-container matColumnDef="env">
      <th mat-header-cell *matHeaderCellDef> env </th>
      <td mat-cell *matCellDef="let element"> {{element.env}} </td>
    </ng-container>

     <!-- Status Column -->
  <ng-container matColumnDef="Status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon color="primary">check_circle</mat-icon>
      <mat-icon color="accent">star</mat-icon>
    </td>
  </ng-container>

  <!-- Last Activity Column -->
  <ng-container matColumnDef="lastActivity">
    <th mat-header-cell *matHeaderCellDef> Last activity </th>
    <td mat-cell *matCellDef="let element"> {{element.lastActivity}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<app-pie-chart></app-pie-chart>
</div>





  
  



<div class="result-summary-container">
 
<ngx-spinner *ngIf="isLoading"...>
  </ngx-spinner>

</div>

</router-outlet>
</div>
</mat-sidenav-content>
</mat-sidenav-container>
  
  

  



  
