
<router-outlet></router-outlet>
<mat-toolbar class="mat-elevation-z8">
  <h3>ITP Dashboard</h3>
  <div class="right-align">
    <p-button mat-button label="Sign out" class="but" (onClick)="logOut()"></p-button></div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav="matSidenav" mode="side" opened="true"  class="sidenav">
    <mat-divider></mat-divider>
    <a mat-button mat-button class="menu-button" routerLink="/evaluation-metrics">
      <mat-icon class="hom">home</mat-icon>
      <span class="elm">Evaluation Metrics</span>
    </a>
    <a mat-button mat-button class="menu-button" routerLink="/tech-orchestrator">
      <mat-icon class="to">slideshow</mat-icon>
      <span class="teO">Test Orchestrator</span>
    </a>
    <a mat-button mat-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation" class="menu-button" >
      <div class="button-content"><mat-icon class="mst">file_copy</mat-icon>
      <span  class="ms">Micro Service Interactions 
      </span></div>
    </a>
    <mat-menu #menu="matMenu" class="sub" >
      <button mat-menu-item routerLink="/micro-servi-interactions" class="mat-menu-item">Micro-Service-Interactions</button>
      <button mat-menu-item routerLink="/pacts" class="mat-menu-item" >Pacts</button>
    </mat-menu>
    <mat-divider></mat-divider>
  </mat-sidenav>
  <mat-sidenav-content style="overflow-y: auto;">
    <div class="content">
      <router-outlet>
<div class="test-runner-container">
  <mat-card class="cardd" >
    <mat-card-content>
    <h3 class="headd">TestOps Platform</h3>
    <div>
      <label class="input1">Base url</label>
      <input type="text" list="urlOptions" [(ngModel)]="url" required>
      <datalist id="urlOptions">
        <option value="https://example.cypress.io/todo"></option>
      </datalist>
    </div>
    <div>
      <label class="input2">Spec</label>
      <input type="text" list="specOptions" [(ngModel)]="spec"required>
      <datalist id="specOptions">
        <option value="cypress/e2e/1-getting-started/"></option>
      </datalist>
    </div>
    <div>
      <label class="input3">env</label>
      <input type="text" list="env1Options" [(ngModel)]="env" required>
      <datalist id="env1Options">
        <option value="grepTags=@fvt, XC1_NEW_ORG_EMAIL=stability@test.com"></option>
        
      </datalist>
    </div>
   
    <ngx-spinner 
      bdColor = "rgba(0, 0, 0, 0.8)" 
      size = "medium" 
      color = "#fff" 
      type = "ball-spin">
<p style="font-size:20px; color: white" > Loading... </p>
</ngx-spinner>
    <button class="buttons"(click)="executeTests()"[disabled]="!url || !spec || !env">Execute Tests</button>
    <div class="chart-container">
      <canvas  id="MyChart" >{{ pieChart }}</canvas>
    </div>
  </mat-card-content>
  
</mat-card>

</div>
<div class="result-summary-container">
 
<ngx-spinner *ngIf="isLoading"...>
  </ngx-spinner>
<div id="resultSummaryId" *ngIf="!isLoading && resultsReady" class="results-summary">
 
<div *ngIf="testExecuted">
 </div>
  <h3 >Results summary </h3>
  
</div>
</div>

</router-outlet>
</div>
</mat-sidenav-content>
</mat-sidenav-container>
  
  

  



  
