.pacts-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-weight:bold;
  }
  .pacts-container .mat-header-cell{
    font-weight:bold;
    background-color: #bcb8b8;
  }
  .mat-row:nth-child{
    background-color: #bcb8b8;
  }
  .hell{
    font-weight: bold;
    font-size: 16px;
  }
  .mat-elevation-z8{
    color:#bcb8b8 ;
  }
  
  

  table {
    
    width: 100%;
  }