<mat-toolbar class="toolbar" >
  <span class="navbar-brand">Intelligent TestOps Platform </span>
  <span class="spacer"></span>
  <div class="user-section">
    <button mat-button [matMenuTriggerFor]="menu" class="user-button">
      <mat-icon>person</mat-icon>
      <span>User</span>
      
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logOut()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sign Out</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>



<div class="sidebar">
  <div class="sidebar-header">
    <span class="cc">L</span>
  </div>
  <div class="sidebar-menu">
    <a class="sidebar-item" routerLink="/home">
      <mat-icon>group_work</mat-icon>
      <span class="st">Test Orchestrator</span>
    </a>
    <a class="sidebar-item" routerLink="/si">
      <mat-icon>build</mat-icon>
      <span class="st">Service Interactions</span>
    </a>
    <a class="sidebar-item" >
      <mat-icon  class="bl">computer</mat-icon>
      <span class="st1">Playgrounds</span>
      <div class="coming-soon">Coming soon</div>
    </a>
    <a class="sidebar-item" >
      <mat-icon class="bl">report_problem</mat-icon>
      <span class="st1">Anomaly Detection</span>
      <div class="coming-soon">Coming soon</div>
    </a>
    <a class="sidebar-item" >
      <mat-icon class="bl">fact_check</mat-icon>
      <span class="st1">Samplings</span>
      <div class="coming-soon">Coming soon</div>
    </a>
    <mat-divider></mat-divider>
  </div>
</div>
<div class="result-table">
  <h3>Contract Testing</h3>
  <mat-card>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Consumer Column -->
      <ng-container matColumnDef="consumer">
        <mat-header-cell *matHeaderCellDef> Consumer </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.consumer}} </mat-cell>
      </ng-container>

      <!-- Provider Column -->
      <ng-container matColumnDef="provider">
        <mat-header-cell *matHeaderCellDef> Provider </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.provider}} </mat-cell>
      </ng-container>

      <!-- Pact File Column -->
      <ng-container matColumnDef="pactFile">
        <mat-header-cell *matHeaderCellDef> Pact File </mat-header-cell>
        <mat-cell *matCellDef="let element"> <mat-icon (click)="openPactFile()">insert_drive_file</mat-icon> </mat-cell>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="{'status-active': element.status === 'Active', 'status-failed': element.status === 'Failed'}"> {{element.status}} </mat-cell>
      </ng-container>

      <!-- Last Activity Column -->
      <ng-container matColumnDef="lastActivity">
        <mat-header-cell *matHeaderCellDef> Last Activity </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastActivity}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card>
</div>
    
    
        
            

    
 