<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title class="mat-card-title">Test Ops Platform</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="table-container">
      <mat-toolbar class="sto">
        <span class="toolbar-spacer" ></span>
        <button mat-icon-button (click)="refresh()">
          <mat-icon>refresh</mat-icon>
        </button>
        <button mat-icon-button (click)="addNew()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-toolbar>

      
<div class="table-wrapper">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
         <!-- Checkbox Column -->
         <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>
           <!-- URL -->
    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> URL </th>
      <td mat-cell *matCellDef="let element"> {{element.url}} </td>
    </ng-container>

    <!-- SPEC -->
    <ng-container matColumnDef="spec">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> SPEC </th>
      <td mat-cell *matCellDef="let element"> {{element.spec}} </td>
    </ng-container>

    <!-- ENV -->
    <ng-container matColumnDef="env">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ENV </th>
      <td mat-cell *matCellDef="let element"> {{element.env}} </td>
    </ng-container>

    <!-- Status -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <!-- lastActivity -->
    <ng-container matColumnDef="lastActivity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Activity </th>
      <td mat-cell *matCellDef="let element"> {{element.lastActivity}} </td>
    </ng-container>





    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
 

  </table>
</div>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
</mat-card-content>

</mat-card>