<router-outlet></router-outlet>
  <div class="whole">
    <div class="grid-container"> 
    <div class="button-container">
      <div class="button-row" *ngFor="let row of buttonRows">
        <div class="button-card" *ngFor="let button of row">
          <button
            class="service-button"
            [class.disabled]="disabledServices[button.name]"
            (click)="onServiceClick(button.name)"
          >
            {{ button.name }}
          </button>
        </div>
      </div>
    </div>
    </div>
    <div class="interaction-display">
      <label for="consumer">Consumer:</label>
      <input id="consumer" type="text" [(ngModel)]="consumer" readonly />
      <label for="producer">Producer:</label>
      <input id="producer" type="text" [(ngModel)]="producer" readonly />
      <button type="button" class="execute-button" (click)="execute()" routerLink="/pacts">Execute</button>
    </div>
    <div class="view-results-button">
      <button type="button" class="viewresultbutton" routerLink="/pacts">View Results</button>
    </div>
  </div>