
<div class="container">
    
        <div *ngFor="let row of rows" class ="row">
            <div *ngFor="let service of row ; let last=last" [class] ="last ? 'col4 col2 last' : 'col4 col2'">
     
        <div class="card">
          <div class="card-body">
            <p-button type="button"  class="card-button"[disabled]="disabledServices[service.name]"
              (click)="onServiceClick(service.name)">{{service.name}}</p-button>
            
            
            <!-- Add more details as needed -->
          </div>
        </div>
       
      </div>
    </div>
    <div class="interaction-display">
      <label for="consumer">Consumer:</label>
      <input id="consumer" type="text" [(ngModel)]="consumer" readonly>
  
      <label for="producer">Producer:</label>
      <input id="producer" type="text" [(ngModel)]="producer" readonly>
      <button type="button" class="execute-button" (click)="executeInteraction()">Execute</button>
    </div>
   
  </div>