html, body{
  overflow-y: auto;
  height: 100%;
}




.content  {
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    margin: auto;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    display: flex;
    grid-template-columns: 1fr;
    overflow-y: auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    gap: 2px;
    margin-left: 0;
    margin-right: 0;
    flex: 1;
  }
  .col {
    flex: 1 0 20%;
    padding: 15px;
    box-sizing: border-box;
    padding: 0;
    margin-right: 5px;
    margin-left: 5px;
    margin: 5px;
    flex-grow: 1;
    flex-shrink: 1;
   
  }
  .card-body {
    padding: 0.5rem;
    box-sizing: border-box;
    
  }
  .box{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .card-button {
    margin-bottom: 5px;
    border: 1px solid #000000;
    padding: 5px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    width: auto;
    background: white;
    border-radius: 10px;
    font-size: 10px;
    color: azure;
  }
  .card-button:hover{
    background-color: #e8f4fd;
  }
  .card-text {
    margin-bottom: 10px;
    background-color: #e8f4fd;
  }
  @media (max-width:768px){
    .card{
        flex-basis: calc(50% - 20px);
    }
    .interaction-display{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .container{
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
.col4.col2:not(.last)::after{
    content:'';
    display: block;
    border-bottom: 2px dashed #ccc;
    width: 100%;
    margin: 20px 0;
}
.last::after{
    display:none;
}
.interaction-display{
  margin-top: 20px;

}.interaction-display input{
  margin-left: 10px;
  margin-right: 20px;
}
.execute-button{
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
}
.interaction-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.inputs-container{
  flex-grow: 1;
}
mat-toolbar {
 
  background: #2F3E46;
  color: white;
  width: 100%;
}


mat-sidenav {
  margin: 16px;
  width: 80px;
  border-right: none;
  background: #2F3E46;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  box-shadow: 2px 0 5px rgba(0,0,0,0);
  
}
.hom{
  color: white;
  height: 24px;
  flex-shrink: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
.to{
  color: white;
  height: 24px;
  flex-shrink: 0;
}
.mst{
  color: white;
  height: 24px;
  flex-shrink: 0;
}

.content {
  height: 85vh;
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  padding: 16px;
  overflow: auto;
 background-color: white;
 
}

mat-sidenav-container {
  height: calc(100vh - 65px);
  
  
}
.menu-button .ms{
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.menu-button .mat-icon, .menu-button .material-icons{
  margin-right: 8px;
}
 


.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  color: white;
  margin-bottom: 30px;
  margin-top: 30px;
}
.menu-button span{
  flex: 1;
  display: flex;
  align-items: center;
}
.menu-button i{
  margin-right: 4px;
  height: 24px;
}
.mat-icon {
    margin-right: 8px;
    
  }


.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}
.elm{
  color: white;
}
.teO{
  color: white;
}
.ms{
  color: white;
}
.menu-button .button-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidenav-container{
  overflow-y: hidden;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style:none;
}
.sidenav::-webkit-scrollbar{
  display: none;
}
.mat-sidenav-container, .mat-drawer-container, .mat-sidenav-content, .sidenav{
  overflow: hidden !important;
}

.menu-button.sub-category {
  font-size: 14px; /* Smaller font for sub-categories */
  padding-left: 20px; /* Indent sub-category items */
  background-color: linear-gradient(rgb(47, 0, 128),rgb(92, 199, 232));/* Example blue color */
  color: white;
}
.main-category{
  background-color: linear-gradient(rgb(47, 0, 128),rgb(92, 199, 232));
  color: white;

}



.sub-item{
  color: black;
  border: none;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
  float:right;
  margin-right: 10px;
  box-shadow: none;
}
.mat-menu-content .mat-menu-item {
  background-color: rgb(57, 142, 211); /* Match the navbar color */
  color: white; /* Ensuring the text color is visible */
}
.sub{
  background-color: linear-gradient(rgb(47, 0, 128),rgb(92, 199, 232));
}
.container{
  flex-direction: column;
  display: flex;
  height: 100%;
}
:host ::ng-deep .p-button .but{
  color: white;
  justify-content: right;
  display: flex;
  background-color: transparent;
  cursor: pointer;
  border: none !important;
}
.right-align{
  margin-left: auto;
}
.proicon{
  font-size: 38px;
  color: white;
}
.cc{
  background-color: red;
  color: white;
  border-radius: 3px;
  padding: 5px;
  font-weight: bold;
  font-size: 30px;

}




