
<mat-card class="form-card">
  <mat-card-title class="mat-card-title">Provide Env and spec details</mat-card-title>
  <mat-card-content>
    <form class="test-form">
      <mat-form-field class="mat-form-field" appearance="outline">
        <input class="input-form-field"  list="urlOptions" matInput placeholder="url" [(ngModel)]="url" name="url" required>
        <datalist id="urlOptions">
          <option value="https://example.cypress.io/todo"></option>
        </datalist>
      </mat-form-field>

      <mat-form-field class="mat-form-field"  appearance="outline">
        <input class="input-form-field"  list="specOptions" matInput placeholder="spec" [(ngModel)]="spec" name="spec" required>
        <datalist id="specOptions">
          <option value="cypress/e2e/1-getting-started/"></option>
        </datalist>
      </mat-form-field>

      <mat-form-field class="mat-form-field"  appearance="outline">
        <input class="input-form-field" list="env1Options" matInput placeholder="env"  [(ngModel)]="env" name="env"required>
        <datalist id="env1Options">
          <option value="grepTags=@fvt, XC1_NEW_ORG_EMAIL=stability@test.com"></option>
        </datalist>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <span class="spacer"></span>
    <button mat-button (click)="back()">Back</button>
    <button class="button-color"  (click)="executeTests()"[disabled]="!url || !spec || !env "> Run Test</button>
    
  </mat-card-actions>
  <ngx-spinner  size="medium" color="#fff" type="ball-scale-multiple"></ngx-spinner>
  <div *ngIf="isResultsReady" class="results-ready">Results Ready</div>
</mat-card>